# ===========================================
#             Docker Compose File
# ===========================================

services:

  # ===========================================
  #               Nginx Service               
  # ===========================================

  nginx:
    build: ./requirements/nginx
    image: nginx:inception
    container_name: nginx
    environment:
      - DOMAIN_NAME=${DOMAIN_NAME}
    ports:
      - "5050:443"
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    depends_on:
      wordpress:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "curl -k --silent https://localhost | grep -qi 'html\\|doctype' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ===========================================
  #               MariaDB Service             
  # ===========================================

  mariadb:
    build: ./requirements/mariadb
    image: mariadb:inception
    container_name: mariadb
    environment:
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=wp_user
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db_root_password
      - MYSQL_PASSWORD_FILE=/run/secrets/db_password
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    expose:
      - "3306"
    secrets:
      - db_root_password
      - db_password
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  # ===========================================
  #               WordPress Service
  # ===========================================

  wordpress:
    build: ./requirements/wordpress
    image: wordpress:inception
    container_name: wordpress
    environment:
      - WORDPRESS_DB_HOST=mariadb
      - WORDPRESS_DB_NAME=${DB_NAME}
      - WORDPRESS_DB_USER=wp_user
      - WORDPRESS_DB_PASSWORD_FILE=/run/secrets/db_password
      - WP_CREDENTIALS_FILE=/run/secrets/wp_admin_user
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - inception
    depends_on:
      mariadb:
        condition: service_healthy
    secrets:
      - db_password
      - wp_admin_user
    healthcheck:
      test: ["CMD", "sh", "-c", "[ -f /var/www/html/wp-config.php ]"]
      interval: 10s
      timeout: 5s
      retries: 5


# ===========================================
#                  Volumes             
# ===========================================

volumes:
  mariadb_data:
    driver: local
    name: mariadb_data
  wordpress_data:
    driver: local
    name: wordpress_data


# ===========================================
#                  Networks             
# ===========================================

networks:
  inception:
    name: inception
    driver: bridge

# ===========================================
#                  Secrets             
# ===========================================

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt
  wp_admin_user:
    file: ../secrets/credentials.txt
