# ===========================================
#             Docker Compose File,
#           for Inception Project 42
# ===========================================

services:

  # ===========================================
  #               MariaDB Service             
  # ===========================================

  mariadb:
    build: ./requirements/mariadb
    image: mariadb:inception
    container_name: mariadb
    restart: always
    environment:
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=wp_user
      - MYSQL_ROOT_PASSWORD_FILE=/run/secrets/db_root_password
      - MYSQL_PASSWORD_FILE=/run/secrets/db_password
    volumes:
      - mariadb_data:/var/lib/mysql
    networks:
      - inception
    expose:
      - "3306"
    secrets:
      - db_root_password
      - db_password


# ===========================================
#                  Volumes             
# ===========================================

volumes:
  mariadb_data:
    driver: local


# ===========================================
#                  Networks             
# ===========================================

networks:
  inception:
    driver: bridge

# ===========================================
#                  Secrets             
# ===========================================

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt
  wp_admin_user:
    file: ../secrets/credentials.txt
    name: wp_admin_user
  wp_admin_password:
    file: ../secrets/credentials.txt
    name: wp_admin_password
  wp_admin_email:
    file: ../secrets/credentials.txt
    name: wp_admin_email
